[Unit]
Description=Logging Console
After=systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service

[Service]
ExecStart=-/usr/bin/openvt -f -w -c5 -- /usr/bin/journalctl -f
Type=idle
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
