<HTML>
  <head><TITLE>Unabh&auml;ngige Wahlen Uni Karlsruhe - Wahlbeteiligung</TITLE>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta http-equiv="refresh" content="60" />
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="http://www.usta.de/sites/www.usta.de/themes/usta/font.css">
  </head>
  <body>
     <div id="content" style="width: 85%%">
       <div id="header">
         <h2>Wahlen zum Unabh&auml;ngigen Modell am Karlsruher Institut f&uuml;r Technologie (KIT)</h2>
         <h1>Stand der Wahlbeteiligung</h1>
       </div>
    <div style="border-top: 2px solid #e17900"></div>
    <h3 style="text-align: center">Die aktuelle Wahlbeteiligung betr&auml;gt (Stand %(date)s):</h3>
    <table border="0" style="margin-left:auto; margin-right:auto"><td>&nbsp;&nbsp;&nbsp;</td><td>
	<table border="0">
<!--		<tr><td><b>Allgemein:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(global).2f %%</td></tr> -->
		<tr><td><b>Studierendenparlament:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(wahl1).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(%(votes1)i W&auml;hler von %(berechtigte1)i Berechtigten)</td></tr>
		<tr><td><b>Fachschaften:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(wahl2).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(%(votes2)i W&auml;hler von %(berechtigte2)i Berechtigten)</td></tr>
		<tr><td><b>Ausl&auml;nderreferat:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(wahl3).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(%(votes3)i W&auml;hler von %(berechtigte3)i Berechtigten)</td></tr>
		<tr><td><b>Frauenreferat:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(wahl4).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(%(votes4)i W&auml;hler von %(berechtigte4)i Berechtigten)</td></tr>
	</table>
    </td></table>
    <div style="border-top: 2px solid #e17900"></div>
    <h3 style="text-align: center">Die aktuelle Wahlbeteiligung an den Fachschaftswahlen (<b>Achtung Sch&auml;tzung!</b>):</h3>
    <table border="0" style="margin-left:auto; margin-right:auto"><td>&nbsp;&nbsp;&nbsp;</td><td>
	<table border="0">
		<tr><td><b>BauIng:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_bau).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_bau).2f W&auml;hler von %(fsberechtigte_bau)g Wahlberechtigten)</td></tr>
		<tr><td><b>Bio/Chemie:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_chembio).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_chembio).2f W&auml;hler von %(fsberechtigte_chembio)g Wahlberechtigten)</td></tr>
		<tr><td><b>CIW:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_ciw).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_ciw).2f W&auml;hler von %(fsberechtigte_ciw)g Wahlberechtigten)</td></tr>
		<tr><td><b>ETEC:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_etec).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_etec).2f W&auml;hler von %(fsberechtigte_etec)g Wahlberechtigten)</td></tr>
		<tr><td><b>GeistSoz:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_geist).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_geist).2f W&auml;hler von %(fsberechtigte_geist)g Wahlberechtigten)</td></tr>
		<tr><td><b>Geo:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_geo).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_geo).2f W&auml;hler von %(fsberechtigte_geo)g Wahlberechtigten)</td></tr>
		<tr><td><b>Info:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_info).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_info).2f W&auml;hler von %(fsberechtigte_info)g Wahlberechtigten)</td></tr>
		<tr><td><b>Maschinenbau:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_mach).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_mach).2f W&auml;hler von %(fsberechtigte_mach)g Wahlberechtigten)</td></tr>
		<tr><td><b>Mathe:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_mathe).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_mathe).2f W&auml;hler von %(fsberechtigte_mathe)g Wahlberechtigten)</td></tr>
		<tr><td><b>Physik:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_physik).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_physik).2f W&auml;hler von %(fsberechtigte_physik)g Wahlberechtigten)</td></tr>
		<tr><td><b>WiWi:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(fs_wiwi).2f %%</td><td>&nbsp;&nbsp;&nbsp;</td><td>(gesch&auml;tzte %(fsvotes_wiwi).2f W&auml;hler von %(fsberechtigte_wiwi)g Wahlberechtigten)</td></tr>
	</table>
    </td></table>
    <div style="border-top: 2px solid #e17900"></div>
    <h3 style="text-align: center">Stimmzettel in den Urnen:</h3>
    <table border="0" style="margin-left:auto; margin-right:auto"><td>&nbsp;&nbsp;&nbsp;</td><td>
	<table border="0">
	    <tr><td><b>Bio/Chemie:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_chembio)i Zettel</td></tr>
	    <tr><td><b>ETEC:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_etec)i Zettel</td></tr>
	    <tr><td><b>GeistSoz:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_geist)i Zettel</td></tr>
	    <tr><td><b>Geo:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_geo)i Zettel</td></tr>
	    <tr><td><b>Info:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_info)i Zettel</td></tr>
	    <tr><td><b>Mach/CIW:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_machciw)i Zettel</td></tr>
	    <tr><td><b>Mathe:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_mathe)i Zettel</td></tr>
	    <tr><td><b>Physik:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_physik)i Zettel</td></tr>
	    <tr><td><b>WiWi:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_wiwi)i Zettel</td></tr>
	    <tr><td><b>AKK:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_akk)i Zettel</td></tr>
	    <tr><td><b>Mensa:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_mensa)i Zettel</td></tr>
	    <tr><td><b>RZ:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_rz)i Zettel</td></tr>  
	    <tr><td><b>West-Urne:</b></td><td>&nbsp;&nbsp;&nbsp;</td><td style="text-align: right;">%(zettel_west)i Zettel</td></tr>
	</table>
    </td></table>
    <div style="border-top: 2px solid #e17900"></div>
    <h3 style="text-align: center">Grafische Darstellung der Wahlbeteiligung:</h3>
      <img src="http://fachschaft.physik.uni-karlsruhe.de/~mario/wahlbet/wahlplot.png" style="margin-left:auto; margin-right:auto; display: block"><br> 
    <p>
    </div>
    <div id="footer">Der Wahlausschuss</div>
  </body>
</html>
