[Unit]
Description=Friwahl Console
After=systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service

[Service]
ExecStart=-/usr/bin/openvt -s -f -w -c1 /usr/local/usta/friwahl-console.sh
Type=idle
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
