[Unit]
Description=Verwaltung
After=systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service

[Service]
ExecStart=-/usr/bin/openvt -f -w -c2 /usr/local/usta/verwaltung.sh 
Type=idle
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
